body {
    font-family: Arial;
    margin: 0 auto;
}

#section_one div {
    display: grid;
    grid-template-areas: "img article";
    grid-template-columns: 35% 62%;
    gap: 1rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: #7b8189;
}

#section_one img {
    width: 100%;
}

#section_one button {
    padding: 1.1rem 2rem;
    border-radius: 5rem;
    border: none;
    color: white;
    font-size: 1.3rem;
    background: #81C04F;
    margin: 3rem 0 0 20rem;
}

h2 {
    text-align: center;
    font-size: 4rem;
}

#section_two {
    height: 30rem;
    background: #81C04F;
    color: white;
}

.project ul {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    grid-template-columns: 27% 27% 27%;
    list-style-type: none;
}

.project img {
    width: 100%;
    border-radius: 2px;
    box-shadow: 4px 4px 8px 1px #609634;
}

#section_three {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.97fr 0.97fr 0.97fr;
}

#section_three img {
    width: 95%;
    height: 80%;
}

#section_three div {
    font-size: 1.2rem;
    color: #5E8E71;
    text-align: center;
}

#section_three span {
    color: black;

}

#section_four {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: -5rem;
    gap: 2rem;
    grid-template-columns: 25% 25% 25%;
    background: #4EB4CE;
    color: white;
    text-align: center;
}

#section_four div {
    margin: 0 auto;
}

#section_four h3 {
    margin-top: 1rem;
    font-size: 7rem;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; */
}

#section_four h4 {
    font-size: 3rem;
    width: 250px;
    margin-top: -6rem;
    margin-left: 7rem;
}

.testimonials h2 {
    color: #4EB4CE;
}

.testimonials {
    background: none;
    margin: 0 auto;
    font-size: 2rem;
    width: 1250px;
    text-align: center;
    color: #7b8189;
}

.competitions {
    margin-top: 10rem;
    background: #81C04F;
    padding: 3rem;
    color: white;
}

#section_five {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
    font-size: 1.5rem;
    color: #5E8E71;
}
#section_five img{
    width: 100%;
}
#section_five p{
    width: 355px;
    margin: 0 auto;
    text-align: center;
}